<div class="wrap">
    <div class="half-footer" style="margin-left:0">
        <ul class="feeds">
            <h3>我们的宗旨</h3>
            <li><a href="index.html">Lorem ipsum dolor consectetur adiping</a></li>
            <li><a href="blog.html">Nunc sagittis mollis eros, at venenatis</a></li>
            <li><a href="blog.html">Morbi nec dolor ipsum vel congugue</a></li>
            <li><a href="blog.html">Nullam a odio ipsum, at sodales lorem.</a></li>
            <li><a href="contact.html">Nullam imperdiet vulputate congugue</a></li>
        </ul>
        <div class="footer-pic"><img src="images/f-icon.png" alt=""></div>
        <div class="clear"></div>
    </div>
    <div class="half-footer" style="border:none">
        <ul class="adress">
            <h3>导航</h3>
            <li><a href="index.html">首页</a></li>
            <li><a href="about.html">关于我们</a></li>
            <li><a href="blog.html">活动</a></li>
            <li><a href="blog.html">登陆</a></li>
            <li><a href="#">649814031@qq.com</a></li>
        </ul>
        <div class="footer-pic"><img src="images/foot-icon.png" alt=""></div>
    </div>
    <div class="clear"></div>
</div>

